.table {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 350px;
}

.table > .header {
  font-weight: bold;
}

.table > .row {
  display: flex;
  padding: 0.25rem 0;
  border-bottom: 1px solid lightGray;
}

.table > .row:nth-last-child(4) {
  border-bottom: 2px solid red;
}

.table > .row > .club-name {
  flex: 0 0 8rem;
  min-width: 6rem;
  text-align: left;
}

.table > .row > div {
  flex: 0 1 3rem;
  min-width: 1rem;
  margin-right: 0.25rem;
}
