.App {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  height: 15%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(63, 16, 82);
}

header > h1 {
  margin: 0 auto 0 10%;
  color: white;
  text-align: center;
  width: min-content;
}

main {
  flex: 1;
  min-height: 50%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main > * {
  margin: 1rem 0;
}
